.wrapper
	.wrapper-body.container
		.actions
			= link_to site_categories_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @site_category do |f|
					.row
						= f.input :name, label: t("model.#{controller_name.singularize}.attributes.name")
						= f.input :description, label: t("model.#{controller_name.singularize}.attributes.description"), input_html: {class: "materialize-textarea"}

						%label{ style: 'margin-left: 15px;' }= t("model.#{controller_name.singularize}.attributes.icon_white")
						= f.input :icon_white, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						%br
						%label{ style: 'margin-left: 15px;' }= t("model.#{controller_name.singularize}.attributes.icon_color")
						= f.input :icon_color, :as => :file_material, label: false, wrapper_html: { class: "file-field" }

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
