%tr{ id: "row-#{site_category.id}" }
	- if can? :destroy_multiple, model
		%td.item-check{style:"width: 10%"}
			= link_to "", site_category_path(site_category), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{site_category.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{site_category.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{site_category.id}" }

		%td{style:"width: 30%"}
			= link_to "", site_category_path(site_category, search: @query), remote: true, class: "show-row"
			%span
				= site_category.name

	%td{style:"width: 5%"}
		= link_to site_category_path(site_category), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")