.listing-show-header
	.actions
		- if can? :update, HomeImage
			= link_to edit_home_image_path(@home_image), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-image
		= image_tag @home_image.img


:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
