.col.s4
	.card.home-images-card
		.card-image
			= image_tag home_image.img
		.item-check
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{home_image.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{home_image.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{home_image.id}" }
		= link_to home_image_path(home_image), class: "btn-floating waves-effect btn-flat pull-right" do
			= material_icon.md_24.more_horiz.css_class("md-dark")