= title("Imágenes de inicio - Listado")
.listing.col.l9.m12.s12
	- if can?(:new, model) && @objects.size <= 4
		= link_to new_home_image_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only" do
			= material_icon.md_24.add
	= entries(@total, @objects)
	- if @objects.size.zero?
		%table.bordered
			%tbody
				%tr
					%td{colspan: "4"}
						%center
							No se han encontrado Imágenes.
	- else
		.images-box
			- @objects.each do |home_image|
				= render 'listing', home_image: home_image

	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_home_image_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red" do
		= material_icon.md_24.add.css_class("md-light")
