= title "Imágenes de inicio | #{@home_image.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, HomeImage
				= link_to home_image_path(@home_image), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, HomeImage
				= link_to edit_home_image_path(@home_image), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to home_images_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-image
				= image_tag @home_image.img
