.header-information.hide-on-small-only{ "ng-style" => is_index? ? "{'max-width':'75%'}" : "{'min-width':'100%'}" }
	%h1 
		= content_for?(:header_information) ? yield(:header_information) : t("header.#{controller_path.downcase}").html_safe
	%small 
		= t("actions.#{action_name}")

	
