%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
  .profile-menu.bgc-red-500
    .profile-pic
      = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
    .profile-info
      = current_user.name
  %ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
    = render "layouts/admin/sidebar_engines_links"
    - if can? :index, HomeImage
      %li
        = tab "Imagenes de Inicio", "person", main_app.home_images_path, current_navigation?("HomeImages")
    - if can? :index,  Site
      %li
        = header_tab "Sitios", "place", current_navigation?("Sites")
        = body_tab do
          - if can? :index, Site
            = link_tab "Lista de Sitios", main_app.sites_path, current_navigation?("Sites")
          - if can? :index, SiteCategory
            = link_tab "Categorías", main_app.site_categories_path, current_navigation?("SiteCategories")
    - if can? :index, User
      %li
        = tab "Usuarios", "person", main_app.users_path, current_navigation?("Users")

