.listing-show-header
	.actions
		- if can? :update, User
			= link_to "#modal-#{@user.id}", class: "btn-floating waves-effect waves-light btn-flat tooltipped modal-trigger", "data-position" => "bottom", "data-tooltip" => "Cambiar rol"  do
				= material_icon.md_24.supervisor_account
		- if can? :update, User
			= link_to edit_user_path(@user), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		- @user.as_json(only: ["id", "name", "permalink", "email", "description", "facebook", "created_at", "sign_in_count", "updated_at", "password"]).each do |attribute, value|
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.#{attribute}")
				.display-value= value

= render "users/modal"

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
