.wrapper
	.wrapper-body.container
		.actions
			= link_to site_events_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for([@site, @event]) do |f|
					.row
						= f.input :name, label: t("model.#{controller_name.singularize}.attributes.name")
						= f.input :img, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :description, label: t("model.#{controller_name.singularize}.attributes.description"), input_html: {class: "materialize-textarea"}
						= f.input :address, label: t("model.#{controller_name.singularize}.attributes.address")
						= f.input :web, label: t("model.#{controller_name.singularize}.attributes.web")

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
