.listing-show-header
	.actions
		- if can? :update, Event
			= link_to edit_site_event_path(@event, site_id: @site.id), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	= image_tag @event.img
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @event.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.address")
			.display-value= @event.address
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= @event.description
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.web")
			.display-value= @event.web
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.site_id")
			.display-value= @event.site.name


:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
