%tr{ id: "row-#{event.id}" }
	- if can? :destroy_multiple, Event
		%td.item-check{style:"width: 10%"}
			= link_to "", site_event_path(event, search: @query, site_id: @site.id), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{event.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{event.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{event.id}" }

		%td{style:"width: 30%"}
			= link_to "", site_event_path(event, search: @query, site_id: @site.id), remote: true, class: "show-row"
			%span
				= event.name
		%td{style:"width: 30%"}
			= link_to "", site_event_path(event, search: @query, site_id: @site.id), remote: true, class: "show-row"
			%span
				= event.web
		%td{style:"width: 30%"}
			= link_to "", site_event_path(event, search: @query, site_id: @site.id), remote: true, class: "show-row"
			%span
				= event.site.name

	%td{style:"width: 5%"}
		= link_to site_event_path(event, site_id: @site.id), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")