= title "Eventos | #{@event.id}"

= header_information do
	= link_to "Sitios", sites_path
	= ">"
	= link_to "#{@site.name.humanize}", site_path(id: @site.id)
	= link_to "> Eventos", site_events_path(site_id: @site.id)

.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Event
				= link_to site_event_path(id: @event.id), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Está seguro de querer eliminar este registro?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Event
				= link_to edit_site_event_path(id: @event.id), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to site_events_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-image
				= image_tag @event.img
			.card
				%ul.list
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.name")
						.display-value.fs-body-1.tc-black-2= @event.name.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.address")
						.display-value.fs-body-1.tc-black-2= @event.address.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.description")
						.display-value.fs-body-1.tc-black-2= @event.description.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.web")
						.display-value.fs-body-1.tc-black-2= @event.web.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.site_id")
						.display-value.fs-body-1.tc-black-2= @event.site.name
