.listing-show-header
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Descripcion del modulo
		%p{align: "justify"} En este módulo se administrarán los sitios que se verán en el sistema. Acá se podrá ingresar nuevos sitios, modificar, ver y eliminar sitios ya registrados.