.wrapper
	.wrapper-body.container
		.actions
			= link_to sites_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @site do |f|
					.row
						= f.input :img, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :name, label: t("model.#{controller_name.singularize}.attributes.name")
						= f.input :description, label: t("model.#{controller_name.singularize}.attributes.description"), input_html: {class: "materialize-textarea"}
						= f.input :site_category_id, collection: @categories, label: false, include_blank: "Selecione una categoría", input_html: { class: "browser-default" }
						= f.input :address, label: t("model.#{controller_name.singularize}.attributes.address"), input_html: {class: "materialize-textarea"}
						= f.input :latitude, label: t("model.#{controller_name.singularize}.attributes.latitude")
						= f.input :longitude, label: t("model.#{controller_name.singularize}.attributes.longitude")
						= f.input :web, label: t("model.#{controller_name.singularize}.attributes.web")
						= f.input :facebook, label: t("model.#{controller_name.singularize}.attributes.facebook")
						= f.input :twitter, label: t("model.#{controller_name.singularize}.attributes.twitter")

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
