.listing-show-header
	.actions
		- if can? :index, Event
			= link_to site_events_path(@site), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Eventos" do
				= material_icon.md_24.event_available
		- if can? :update, Site
			= link_to edit_site_path(@site), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	= image_tag @site.img
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @site.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @site.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.category")
			.display-value= @site.site_category.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.address")
			.display-value= @site.address
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= @site.description
		- unless @site.facebook.blank?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.facebook")
				.display-value= @site.facebook
		- unless @site.twitter.blank?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.twitter")
				.display-value= @site.twitter
		- unless @site.web.blank?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.web")
				.display-value= @site.web
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.latitude")
			.display-value= @site.latitude
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.longitude")
			.display-value= @site.longitude
		- if @site.get_upvotes.size > 0
			%li.list-row
				.display-label Likes
				.display-value= @site.get_upvotes.size
		- if @site.get_upsaves.size > 0
			%li.list-row
				.display-label Checks
				.display-value= @site.get_upsaves.size

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
