%tr{ id: "row-#{site.id}" }
	- if can? :destroy_multiple, Site
		%td.item-check{style:"width: 10%"}
			= link_to "", site_path(site), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{site.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{site.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{site.id}" }

		%td{style:"width: 30%"}
			= link_to "", site_path(site, search: @query), remote: true, class: "show-row"
			%span
				= site.name
		%td{style:"width: 30%"}
			= link_to "", site_path(site, search: @query), remote: true, class: "show-row"
			%span
				= site.site_category.name
		%td{style:"width: 30%"}
			= link_to "", site_path(site, search: @query), remote: true, class: "show-row"
			%span
				= site.web

	%td{style:"width: 5%"}
		= link_to site_path(site), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")