= title "Sitios | #{@site.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Site
				= link_to site_path(@site), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Está seguro de querer eliminar este registro?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Site
				= link_to edit_site_path(@site), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to sites_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
			- if can? :index, Event
				= link_to site_events_path(@site), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Eventos" do
					= material_icon.md_18.event_available.css_class("md-dark")
		.card
			.card-image
				= image_tag @site.img
			.card-content
				%ul.list
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.name")
						.display-value.fs-body-1.tc-black-2= @site.name.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.category")
						.display-value.fs-body-1.tc-black-2= @site.site_category.name
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.description")
						.display-value.fs-body-1.tc-black-2= @site.description.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.address")
						.display-value.fs-body-1.tc-black-2= @site.address.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.latitude")
						.display-value.fs-body-1.tc-black-2= @site.latitude.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.longitude")
						.display-value.fs-body-1.tc-black-2= @site.longitude.to_s.humanize
					- unless @site.facebook.blank?
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.facebook")
							.display-value.fs-body-1.tc-black-2= @site.facebook.to_s.humanize
					- unless @site.twitter.blank?
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.twitter")
							.display-value.fs-body-1.tc-black-2= @site.twitter.to_s.humanize
					- unless @site.web.blank?
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.web")
							.display-value.fs-body-1.tc-black-2= @site.web.to_s.humanize
					- if @site.get_upvotes.size > 0
						%li.list-row
							.display-label Likes
							.display-value= @site.get_upvotes.size
					- if @site.get_upsaves.size > 0
						%li.list-row
							.display-label Checks
							.display-value= @site.get_upsaves.size